* {
    font-family: 'Sulphur Point', sans-serif;
}
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a.hover-white:hover {
    color: white !important;
    transition: all ease .2s;
}

a.hover-black:hover {
    color: black !important;
    transition: all ease .2s;
}

#preload {
    display: none;
}

/* navbar */
#frontNavbar .navbar-nav li a {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
}

#frontNavbar .navbar-nav li a:hover {
    color: #3f51b5;
    transition: all ease-in .3s;
}

/* about us */
#pageTitle h4 {
    position: relative;
}

#pageTitle h4::after {
    content: "";
    position: absolute;
    height: 4px;
    bottom: -4px;
    width: 15%;
    background: #667eea;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#pageTitle h4::before {
    content: "";
    position: absolute;
    height: 10px;
    bottom: -7px;
    width: 8%;
    background: #667eea;
    margin: 0 auto;
    left: 0;
    right: 0;
}


#register-form input[type='checkbox']:checked {
    background-color: #ff4444 !important;
}

.danger-msg {
    display: none;
}

.warning-msg {
    display: none;
}

.success-msg {
        display: none;
}

.w-68 {
    width: 18em;
    display: none;
}

.font-navbar {
    font-size: .77rem;
    font-weight: 700;
    text-transform: uppercase;
}


/* overlay */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  /* nav tabs */
  .md-tabs {
    position: relative;
    z-index: 1;
    padding: .8rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    margin-left: 1rem;
    /* background-color: #2bbbad; */
    border: 0;
    border-radius: .1rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.md-tabs .nav-link.active {
    background-color: rgba(197,202,233, .6);
    border-radius: .1em;
    transition: all ease .3s;
}

.accordion-gradient-bcg {
    background: linear-gradient(45deg,rgba(234,21,129,0.6),rgba(10,23,187,0.6) 100%);
}