* {
    font-family: 'Sulphur Point', sans-serif;
}
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a.hover-white:hover {
    color: white !important;
    transition: all ease .2s;
}

/* navbar */
#frontNavbar .navbar-nav li a {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
}

#frontNavbar .navbar-nav li a:hover {
    color: #3f51b5;
    transition: all ease-in .3s;
}

/* about us */
#pageTitle h4 {
    position: relative;
}

#pageTitle h4::after {
    content: "";
    position: absolute;
    height: 4px;
    bottom: -4px;
    width: 15%;
    background: #667eea;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#pageTitle h4::before {
    content: "";
    position: absolute;
    height: 10px;
    bottom: -7px;
    width: 8%;
    background: #667eea;
    margin: 0 auto;
    left: 0;
    right: 0;
}


#register-form input[type='checkbox']:checked {
    background-color: #ff4444 !important;
}

.danger-msg {
    display: none;
}

.warning-msg {
    display: none;
}

.success-msg {
        display: none;
}